Source: vvvvvv
Section: non-free
Maintainer: Ben Young <computermouth@proton.me>
Uploaders:
 Ben Young <computermouth@proton.me>
Homepage: https://github.com/terrycavanagh/vvvvvv
Vcs-Browser: https://salsa.debian.org/games-team/vvvvvv
Vcs-Git: https://salsa.debian.org/games-team/vvvvvv.git
Standards-Version: 4.7.2
Build-Depends: debhelper-compat (= 13), cmake, libsdl2-dev, libtinyxml2-dev, libphysfs-dev, libfaudio-dev, liblodepng-dev

Package: vvvvvv
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends:
Description: VVVVVV is a 2010 puzzle-platform game created by Terry Cavanagh.
 VVVVVV requires the assets (graphics, sounds, etc) from the original release to
 run. Terry Cavanagh has granted permission for Debian to build and distribute
 the engine, as well as the official release and "Make And Play" version of the game.
