#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

build:
	git submodule update --init
	mkdir -p desktop_version/build
	cd desktop_version/build && cmake -DBUNDLE_DEPENDENCIES=OFF ..
	cd desktop_version/build && make -j16

%:
	dh $@

execute_after_dh_auto_install:
	mkdir -p debian/vvvvvv/usr/games/
	mv desktop_version/build/VVVVVV debian/vvvvvv/usr/games/vvvvvv
